div.images {
    max-width: 95%;
    margin: auto;
  }
  
  img {
    border: 7px solid #323232;
    border-radius: 25px;
    transition: all .2s ease-in-out;
  }
  
  img:hover {
    transform: scale(0.86);
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    background: #808F85;
  }
  .header {
      padding: 1.5%;
      text-align: center;
      background: #595959;
      color: white;
      font-size: 20px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }