div.images {
  max-width: 95%;
  margin: auto;
}

img {
  border: none;
  border-radius: 25px;
  transition: all .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
  transform: scale(0.86);
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #1c1c1c;
}
.header {
    padding: 1.5%;
    text-align: center;
    background: #0c0c0c;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }