div.images {
  max-width: 95%;
  margin: auto;
}

img {
  border: 5px solid #EDF7D2;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

img:hover {
  transform: scale(0.86);
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #7D7C7A;
}
.header {
    padding: 0.5%;
    text-align: center;
    background: #5B5B5B;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }