div.images {
  max-width: 95%;
  margin: auto;
}

img {
  border: none;
  border-radius: 25px;
  transition: all .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.356);
}

img:hover {
  transform: scale(0.86);
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #002f48; /* Old Background #262626*/
}
.header {
    padding: 1.5%;
    text-align: center;
    background: #151515;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); /* Original Settings: box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }

div.controls {
  position: absolute;
  top: 5px;
  left: 7px;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}